html {
  font-size: 18px;
  font-family: Helvetica;
}

h3 {
  font-weight: normal;
}

.container {
  margin: auto;
  width: 1400px;
}


/* --- Header ---*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.m-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 24px;
}

.menu {
  margin-right: 24px;
}

nav span {
  margin-left: 16px;
}

.title1 {
  color: gray;
}

/* --- Banner or Intro --- */

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px;
  background-color: lightgray;
}

.btn {
  text-align: center;
  padding: 8px;
  background-color: gray;
  color: white;
  font-size: 32px;
}

.img-container2 {
  padding-right: 24px;
  width: 60%;
}

.img-container2 img {
  width: 100%;
}

.text {
  width: 40%;
}

/* --- 2nd Banner & info --- */

.info-banner {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  padding: 32px 24px;
}

div.left {
  width: 60%;
  padding-right: 24px;
}

div.rigth {
  width: 40%;
  border-left: 1px solid lightgrey;
}

div.info {
  display: flex;
  align-items: center;
  width: 100%;
}

div.orientation {
  width: 65%;
  padding-left: 16px;
}

div.img-mini {
  width: 35%;
  padding: 16px;
}

.img-container3 img {
  width: 100%;
}

.img-mini img {
  width: 100%;
  height: auto;
}

.orientation p,
.orientation h4 {
  margin: 8px;
}

.format {
  color: Dodgerblue;
}

.background {
  background-color: lightgray;
}
